.whatsapp {
    position: fixed;
    top: 60%;
    right: 20px;
    z-index: 1000; /* Ensures it's above other elements */
    transform: translateY(-50%);
}

/* Adding animation */
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.sections-container{
    
        /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
        
background-image: url(./bg7.jpg);
    
}
.nav-app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}